<h4>Number of Results: <%= count %></h4>
<table class='table table-striped table-bordered'>
  <thead>
    <th>User</th>
    <th>Message</th>
    <th>Created Time</th>
  </thead>
  <tbody>
    <% tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.user.screen_name %></td>
        <td><%= tweet.full_text %></td>
        <td><%= tweet.created_at.in_time_zone('Asia/Manila').strftime('%b %d, %Y %H:%M:%S') %></td>
      </tr>
    <% end %>
  </body>
</table>
<%= paginate tweets, remote: true %>
