<% if @account.present?%>
  <%="Welcome, #{@account.nickname}" %>
  <%= link_to 'Disconnect Account', terminate_account_sessions_path %>
<% end %>
<br/><br/>
<%= link_to 'Add Twitter Account', 'auth/twitter'%><br/>
Available Accounts:
<% if @accounts.present? %>
<table class='table table-striped table-bordered'>
  <thead>
    <th>Account Name</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @accounts.each do |account_record|%>
      <tr>
        <td><%= account_record.nickname %></td>
        <td>
          <% unless @account == account_record%>
            <%= link_to "Select", select_account_session_path(account_record.id), class: 'btn btn-primary'%>
          <% end %>
          <%= link_to "Remove", account_path(account_record.id), method: 'delete', class: 'btn btn-danger'%>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<% end %>
<% if @account.present? %>
  <%= form_tag search_home_index_path, id: 'search-form', class: 'form-inline', method: :get, remote: true do %>
    <div class='form-group'>
      <%= label_tag :search %>
      <%= text_field_tag :search, nil, class: 'form-control', required: true %>
    </div>
    <div class='form-group'>
      <%= label_tag :since %>
      <%= date_field_tag(:since, (Date.today - 10.days), min: (Date.today - 10.days), max: (Date.today), required: true, class: 'form-control') %>
    </div>
    <div class='form-group'>
      <%= label_tag :until %>
      <%= date_field_tag(:until, (Date.today + 1.day), min: (Date.today - 9.days), max: (Date.today + 1.day), required: true, class: 'form-control') %>
    </div>
    <%= submit_tag "Search", id: 'search-btn', class: 'btn btn-primary', disabled: (!@account.searchable) %>
  <% end %>
  <% unless @account.searchable %>
    <div id='timer-container' data-time='<%= @account.restart.present? ? Time.at(@account.restart.to_i) : nil %>'></div>
  <% end %>
<% end %>
<div id='results'>
  <div id='twitter-graph'></div>
  <div id='twitter-results'>
    <div class='list-group'>
    </div>
  </div>
  <div id='twitter-nav'></div>
  <div id='engine-results'></div>
</div>

<div class='loader hidden'></div>
