<% if @account.present?%>
  <%="Welcome, #{@account.nickname}" %>
  <%= link_to 'Disconnect Account', terminate_account_sessions_path %>
<% end %>
<br/><br/>
<%= link_to 'Add Twitter Account', 'auth/twitter'%><br/>
Available Accounts:
<br/>
<% @accounts.each do |account_record|%>
  <%= link_to account_record.nickname, select_account_session_path(account_record.id)%>
<% end %>
<br/><br/>

<% if @account.present? %>
  <%= form_tag search_home_index_path, id: 'search-form', class: 'form-inline', method: :get, remote: true do %>
    <div class='form-group'>
      <%= label_tag :search %>
      <%= text_field_tag :search, nil, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= label_tag :from %>
      <%= date_field_tag(:from, (Date.today - 7.days), min: (Date.today - 7.days), max: Date.today, required: true, class: 'form-control') %>
    </div>
    <div class='form-group'>
      <%= label_tag :to %>
      <%= date_field_tag(:to, Date.today, min: (Date.today - 7.days), max: Date.today, required: true, class: 'form-control') %>
    </div>
    <%= submit_tag "Search", id: 'search-btn', class: 'btn btn-primary', disabled: (!@account.searchable) %>
  <% end %>
  <% unless @account.searchable %>
    <div id='timer-container' data-time='<%= @account.restart.present? ? Time.at(@account.restart.to_i) : nil %>'></div>
  <% end %>
<% end %>
<div id='results'>
</div>

<div class='loader hidden'></div>
