<% if @account.present?%>
  <%="Welcome, #{@account.nickname}" %>
  <%= link_to 'Disconnect Account', terminate_account_sessions_path %>
<% end %>
<br/><br/>
<%= link_to 'Add Twitter Account', 'auth/twitter'%><br/>
Available Accounts:
<br/>
<% @accounts.each do |account_record|%>
  <%= link_to account_record.nickname, select_account_session_path(account_record.id)%>
<% end %>
<br/><br/>

<%= form_tag search_home_index_path, id: 'search-form', method: :get, remote: true do %>
  <%= label_tag :search %>
  <%= text_field_tag :search %>
  <%= label_tag :from %>
  <%= date_field_tag(:from, (Date.today - 7.days), min: (Date.today - 7.days), max: Date.today, required: true) %>
  <%= label_tag :to %>
  <%= date_field_tag(:to, Date.today, min: (Date.today - 7.days), max: Date.today, required: true) %>
  <%= label_tag :show_zero, "Show Zero Values" %>
  <%= check_box_tag(:show_zero) %>
  <%= submit_tag "Search" %>
<% end %>

<div id='results'>
</div>
