<!DOCTYPE html>
<html>
  <head>
    <title>RailsTwitterApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SRMS Project</a>
        </div>
          <ul class="nav navbar-nav pull-right">
            <% if @account.present? %>
              <p class="navbar-text"><%= "Welcome, #{@account.nickname}" %></p>
              <li><%= link_to 'Disconnect Account', terminate_account_sessions_path %></li>
            <% else %>
              <li><%= link_to 'Add Twitter Account', 'auth/twitter'%></li>
            <% end %>
          </ul>
      </div>
    </nav>
    <div class='container'>
      <% if flash['error'].present? %>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p><%= flash['error'] %></p>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
